.mainHomeContainer {
    display: flex;
    padding-left: 20px;
    height: calc(100vh - 87px);
    overflow: hidden;
}

.grid {
    display: grid;
    gap: 1rem;
    padding: 0 1rem;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    overflow-y: auto;
    align-content: start;
}

.imageWrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 3/2;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    padding: 0.75rem;
    border-radius: 12px;
    background: #f9f9f9;
    cursor: pointer;
    transition: transform 0.2s;
    text-align: center;
    height: 100%;
}

.product .buyBtn {
    margin-top: auto;
}

.product:hover {
    transform: translateY(-4px);
}

.product img {
    border-radius: 8px;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.product p {
    margin: 0;
    font-size: 0.9rem;
}

.buyBtn {
    border: none;
    width: 100%;
    padding: 0.75rem;
    background: #df2727;
    border-radius: 50px;
    color: #fff;
}

.buyBtn:hover {
    background: #e64949;
    cursor: pointer;
}

