.mainContainerHistory {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
}

.imageWrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 3/2;
}

.formReorder {
    max-width: 522px;
    width: 100%;
}

.mainContItemInCartHistory {
    width: 100%;
}

.bottomLineHistory {
    display: block;
    width: 100%;
    height: 0.07rem;
    margin: 1rem 0;
    background: #f60606;
    filter: blur(0.03rem);
    opacity: 0.8;
}

.submitHistoryBtn {
    margin-bottom: 3rem;
}

.idCreatedAt {
    font-weight: 600;
}

.itemInCartHistory {
}

.totalOrderPrice {
}

@media (min-width: 768px) {
    .mainContItemInCartHistory {
        column-count: 2;
        column-gap: 4rem;
        padding: 0 1rem;
        width: 100%;
    }

    .itemInCartHistory {
        break-inside: avoid;
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        padding-bottom: 3rem;
    }

    .imageWrapper {
        width: 300px;
        flex-shrink: 0;
    }

    .submitHistoryBtn {
        margin-bottom: 2rem;
    }
}
