.mainPaginationContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    gap: 8px;
}

.mainPaginationContainer button {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
}

.mainPaginationContainer button:hover {
    cursor: pointer;
    background: #f6d3d3;
}

.mainPaginationContainer button:disabled {
    opacity: 0.8;
    cursor: not-allowed;
}

.active {
    background: #f16464;
    color: #fff;
}