.header {
    border-bottom: solid 1px #efefef;
    margin-bottom: 16px;
}

.headerContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoDiv {
    padding: 15px 20px;
}

.cart {
    padding: 23px;
}

.headerTextContainer {
    display: none;
}

@media (min-width: 768px) {
    .active {
        border-bottom: 2px solid grey;
        border-radius: 4px;
        padding-bottom: 4px;
    }

    .cart {
        display: none;
    }

    .headerTextContainer {
        display: flex;
    }

    .headerTextContainer > * {
        padding: 20px;
    }
}














